@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-pokemon-logo: "Pokemon Solid", sans-serif;
  --font-pokemon-s: "Fredoka One", "cursive";
  --font-pokemon: "Fredoka", sans-serif;
}

body {
  @apply font-pokemon-s bg-base-100;
}




@plugin "daisyui/theme" {
  name: "pokemon";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0.83 0.2 90);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(0.5 0.15 250);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}


